<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Welcome Page</title>
    <meta charset="utf-8" />
  </head>

  <body
    style="
      display: block;
      font-family: CenturyGothic;
      line-height: 1.42857143;
      margin: 0 auto;
      width: 768px;
    "
  >
    <style type="text/css"></style>
    <div class="email-body">
      <div
        class="email-head"
        style="
          background: #3f4d67;
          margin-top: 10px;
          padding: 10px 0;
          text-align: center;
        "
      >
        <figure>
          <img
            src="https://booktranspo.s3-us-west-2.amazonaws.com/39.png"
            alt="image"
            width="200"
            height="200"
          />
        </figure>
      </div>
      <div
        class="email-info c-brder"
        style="
          border-bottom: 1px solid #ccc;
          border-top: 1px solid #ccc;
          padding: 30px 0;
        "
      >
        <div class="ei-left half-width">
          <h1
            style="
              color: #333;
              font-size: 24px;
              font-weight: 400;
              margin: 0;
              padding: 0;
              text-align: center;
            "
          >
            Hi <%= name %> Welcome to Book Transpo!
          </h1>
        </div>
        <div class="clear" style="clear: both"></div>
      </div>
      <div class="welcome-text" style="padding: 20px 0; text-align: center">
        <p
          style="
            font-size: 15px;
            font-weight: 400;
            margin: 0;
            padding: 0;
            padding-bottom: 10px;
          "
        >
          You are just one click away from a wide range of Business.
        </p>
        <p
          style="
            font-size: 15px;
            font-weight: 400;
            margin: 0;
            padding: 0;
            padding-bottom: 10px;
          "
        >
          All that is left to do is to
        </p>
        <h3
          style="
            font-size: 22px;
            font-weight: 400;
            margin: 0;
            padding: 0;
            padding-bottom: 10px;
          "
        >
          Accept the invitation -
        </h3>
        <a
          href="<%= verificationLink %>"
          class="link"
          style="
            background-color: #e68075;
            border: 0;
            color: #fff;
            cursor: pointer;
            font-size: 16px;
            font-weight: 700;
            line-height: 3;
            margin-top: 40px;
            outline: 0 none;
            padding: 10px 20px;
            text-decoration: none;
            word-wrap: break-word;
          "
          >Accept</a
        >
        <p
          class="t1"
          style="
            font-weight: 400;
            margin: 0;
            padding: 0;
            padding-bottom: 10px;
            padding-top: 10px;
          "
        >
          We're here to help
        </p>
        <a
          href="https://www.booktranspo.com/contactus"
          style="
            color: #3f4d67;
            cursor: pointer;
            font-weight: 700;
            outline: 0 none;
            text-decoration: none;
            word-wrap: break-word;
          "
          >www.booktranspo.com/contactus</a
        >
      </div>
      <div
        class="footer c-brder"
        style="
          border: 0 none;
          border-bottom: 1px solid #ccc;
          border-top: 1px solid #ccc;
          font-size: 14px;
          padding: 30px 0;
        "
      >
        <div class="f-left" style="float: left; text-align: left; width: 50%">
          <span>
            <a
              style="
                color: #3f4d67;
                cursor: pointer;
                outline: 0 none;
                text-decoration: none;
              "
              >Your Account</a
            >
          </span>
        </div>
        <div class="f-right" style="float: left; text-align: right; width: 50%">
          <span
            >Need Help with your order
            <span class="ques" style="font-family: MyriadPro-Regular">?</span>
            Visit our
            <a
              style="
                color: #3f4d67;
                cursor: pointer;
                outline: 0 none;
                text-decoration: none;
              "
              >Help Page</a
            >
          </span>
        </div>
        <div class="clear" style="clear: both"></div>
      </div>
      <div
        class="f-brder"
        style="background: #333; height: 4px; margin-bottom: 10px; width: 100%"
      ></div>
    </div>
  </body>
</html>
